<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- Azure Storage: cs2f65b99cc010ax456ex8d1 -->
        <add key="cs2f65b99cc010ax456ex8d1_AzureStorageConnectionString"
            value="DefaultEndpointsProtocol=https;AccountName=cs2f65b99cc010ax456ex8d1;AccountKey=DLRq/o1qKrz7GBYHj8M2mgetx6pYPw7YClQOrIe+G7yAXeXWIyHKJMJH57zBlMEePTnSg5nuO1WEHIG0gLYKPw==;EndpointSuffix=core.windows.net" />
    </appSettings>
</configuration>